/* Setup */

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  margin: 0;
}

aside {
  background-color: #354052;
  display: flex;
  height: 100vh;
  width: 200px;
}

header {
  display: flex;
  height: 20vh;
  width: 100%;
}

main {
  display: flex;
  height: 100vh;
  width: 100%;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
}

nav {
  display: flex;
  width: 100%;
  height: 5vh;
}

a {
  display: flex;
  width: 60px;
  height: 7vh;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#search-bar {
  height: 7vh;
  width: 100%;
  border-top: none;
}

.user-tools {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  height: 5vh;
}

.arrow {
  display: flex;
  height: 10px;
  width: 10px;
}


/* Background Images */
.menu {
  background: url(images/menu.svg) no-repeat center;
  background-size: 20px 20px;
}

.add-user {
  background: url(images/add-user.svg) no-repeat center;
  background-size: 25px 25px;
  background-color: #139FF5
}
.calendar {
  background: url(images/calendar.svg) no-repeat center;
  background-size: 20px 20px;
}
.more-options {
  background: url(images/more-options.svg) no-repeat center;
  background-size: 20px 20px;
}

/* Hovers */

.calendar:hover {
  background-color: #139FF5;
  background-image: url()
}

.more-options:hover {
  background-color: #139FF5
}
