/* Setup */

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  margin: 0;
}

aside {
  background-color: #354052;
  display: flex;
  flex-wrap: wrap;
  height: 200vh;
  width: 250px;
}

main {
  background-color: #EDF2F6;
  border-top: 3px solid #DDD;
  display: flex;
  flex-wrap: wrap;
  height: 167vh;
  width: 100%;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  height: 150vh;
  width: 100%;
}

/* Top Navigation */

header {
  display: flex;
  flex-wrap: wrap;
  height: 33vh;
  width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

a {
  border-bottom: 1px solid lightgray;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 7vh;
  padding: 10px;
  width: 60px;
}

.schedule {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#search-bar {
  height: 7vh;
  width: 100%;
  border-top: none;
}

#search-bar::-webkit-input-placeholder {
color: #BEC1C6;
}

#search-bar:-moz-placeholder { /* Firefox 18- */
color: #BEC1C6;
}

#search-bar::-moz-placeholder {  /* Firefox 19+ */
color: #BEC1C6;
}

#search-bar:-ms-input-placeholder {
color: #BEC1C6;
}

.top-nav {
  display: flex;
  width: 100%;
  height: 7vh;
}

.user-tools {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  height: 5vh;
}

.arrow {
  display: flex;
  height: 10px;
  width: 10px;
}

/* Job Options Header */

h1 {
  font-size: 40px;
  font-weight: lighter;
  display: flex;
  height: 30%;
  margin: 35px 0 15px 0;
  width: 100%;
}

.job-title-options article {
  width: calc((100% / 3) * 2)
}

.job-title-options button {
  background-color: white;
  border: 3px solid #DDD;
  border-radius: 50%;
  height: 40px;
  margin: 0 10px;
  width: 40px;
}

.job-title-options .buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 500px;
}

.job-title {
  display: flex;
  flex-wrap: wrap;
  height: 26vh;
  width: 100%;
}

.job-title-options {
  display: flex;
  height: calc((100% / 3)* 2);
  margin: 0 40px;
  width: 100%;
}

.job-title-options .open {
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 0 0 15px;
  text-transform: uppercase;
  width: 100px;
}

.location {
  height: 40%;
  width: 100%;
}

.location p {
  color: #93969D;
  display: inline;
  font-size: 16px;
  margin-left: 20px;
}

.location a {
  border-bottom: none;
  color: #7BC5EC;
  display: inline;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
}

/* Sub Navigation */

.sub-nav {
  display: flex;
  height: calc(100% / 3);
  width: 100%;
}

.sub-nav a {
  align-items: center;
  border-bottom: none;
  color: #93969D;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

.sub-nav .summary {
  border-bottom: 3px solid #139FF5;
  color: #000;
  margin-left: 30px;
}

.more {
  display: none;
}

/* Graphs Section */

.graph-section {
  display: flex;
  height: 25%;
  width: 100%;
}

.circle-graphs {
  align-items: center;
  color: #4F5867;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.circle-graphs p {
  color: #93969D;
  font-size: 16px;
  margin-top: 5px;
}

.applicants-graph {
  align-items: center;
  border: 10px solid #000;
  border-color: #4CBCBF #4CBCBF #DBE4E9 #4CBCBF;
  border-radius: 50%;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 2%;
  transform: rotate(-45deg);
  width: 150px;
}

.applicants-graph div {
  transform: rotate(45deg);
}

.interviews-graph {
  align-items: center;
  border: 10px solid #000;
  border-color: #14A0FE #DBE4E9 #DBE4E9 #14A0FE;
  border-radius: 50%;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 2%;
  transform: rotate(-90deg);
  width: 150px;
}

.interviews-graph div {
  transform: rotate(90deg);
}

.forwards-graph {
  align-items: center;
  border: 10px solid #000;
  border-color: #DBE4E9 #DBE4E9 #DBE4E9 #B369B2;
  border-radius: 50%;
  display: flex;
  height: 150px;
  margin: 0 2%;
  justify-content: center;
  transform: rotate(-45deg);
  width: 150px;
}

.forwards-graph div {
  transform: rotate(45deg);
}

.graph-section button {
  background-color: #FFF;
  border: 2px solid #DDD;
  border-radius: 25px;
  color: #4F5867;
  cursor: pointer;
  display: block;
  margin: 0 10%;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  width: 250px;
}

.bar-graph {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.bar-graph img {
  width: 80%;
  height: 60%;
}

button.applicants-day {
  margin-top: -65px;
  text-transform: uppercase;
  width: 200px;
}

/* Divider */

hr {
  width: 45%;
}

.divider button {
  border: 2px solid #DDD;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.divider {
  align-items: center;
  display: flex;
  height: 5%;
  justify-content: center;
  width: 100%;
}

/* Second Main Section */

.second-main {
  display: flex;
  align-items: center;
  height: 70%;
  width: 100%;
}

.job-description {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: calc((100% / 3) * 2)
}

.social-section {
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  width: calc(100% / 3);
}

/* Job Description */

table {
  background-color: #FFF;
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  width: 90%;
}

thead {
  background-color: #6C7E97;
  height: 10%;
  width: 100%;
}

tbody {
  height: 90%;
  width: 100%;
}

thead th {
  color: #FFF;
}

thead tr {
  border-bottom: none;
  height: 100%;
}

tr {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  height: calc(100% / 9);
  justify-content: center;
  margin: 0 5%;
  width: 90%;
}

th {
  color: #6C7E97;
  margin-left: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 250px;
}

td {
  display: flex;
  align-items: center;
  margin: 0 10px;
  width: 75%;
}

td img {
  border-radius: 50%;
  display: flex;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

button.edit-job {
  background-color: #7A8BA9;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  height: 35px;
  padding-left: 20px;
  text-transform: uppercase;
  width: 85px;
}

.description {
  height: calc((100% / 9) * 2);
}

/* Social Section */

.social-buttons button {
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-weight: lighter;
  height: 40px;
  width: 100%;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 25%;
  justify-content: center;
  width: 90%;
}

button.facebook {
  background-color: #436CCB;
}

button.twitter {
  background-color: #00AAF6;
}

button.linkedin {
  background-color: #0080C1;
}

/* Social Widgets */

.social-widget * {
  color: #4F5867;
  display: flex;
  height: calc(100% / 3);
  width: 100%;
}

.social-widget h3 {
  align-items: center;
  font-size: 24px;
  padding-left: 30px;
}

.social-widget p {
  font-size: 16px;
}

.social-widget-section {
  height: 75%;
  width: 90%;
}

.social-widget {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% / 3);
}

.widget-input {
  height: 45px;
  width: 87%;
}

.no-copy-input {
  width: 100%;
}

.copy-btn {
  background-color: #00BDC1;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: lighter;
  height: 45px;
  justify-content: center;
  width: 60px;
}

/* Current User */

.current-user {
  box-shadow: 0px 0px 5px #000;
  display: flex;
  flex-wrap: wrap;
  height: 15%;
  width: 100%;
  align-items: center;
}

figure {
  width: 100%;
  margin: 0;
}

.current-user img {
  border-radius: 50%;
  display: flex;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

figcaption {
  color: #9BA6B8;
  display: flex;
  justify-content: center;
  height: 10%;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.arrow-down {
  background: url(images/down-arrow.svg) no-repeat center;
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  border-bottom: none;
}

/* Main Aside */

.main {
  align-items: center;
  box-shadow: 0px 0px 1px #000;
  color: #9BA6B8;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  height: 20%;
  width: 100%;
}

.main p {
  align-items: center;
  display: flex;
  height: calc(100% / 6);
  padding: 10px;
  width: 100%;
}

.main a {
  align-items: center;
  background-size: 20px;
  border-bottom: none;
  color: #9BA6B8;
  display: flex;
  height: calc(100% / 6);
  padding: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/* Admin */

.admin {
  align-items: center;
  box-shadow: 0px 0px 1px #000;
  color: #9BA6B8;
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
}

.admin p {
  align-items: center;
  display: flex;
  height: calc(100% / 6);
  padding: 10px;
  width: 100%;
}

.admin a {
  align-items: center;
  background-size: 20px;
  border-bottom: none;
  color: #9BA6B8;
  display: flex;
  height: calc(100% / 6);
  padding: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/* Categories */

.categories {
  box-shadow: 0px 0px 1px #000;
  color: #9BA6B9;
  height: 45%;
  width: 100%;
}

.categories p {
  align-items: center;
  display: flex;
  height: 10%;
  padding: 10px;
  width: 100%;
}

.categories form {
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  width: 100%;
}

.categories input {
  align-items: center;
  display: flex;
  height: 10%;
  margin: 0 15px;
  width: 10%;
}
.categories label {
  align-items: center;
  color: #9BA6B8;
  display: flex;
  margin: 0;
  width: 70%;
  height: 10%;
}

/* Background Images */

.menu {
  background: url(images/left-arrow.svg) no-repeat 12% 50%, url(images/menu.svg) no-repeat center;
  background-size: 10px, 20px;
}

.add-user {
  background: url(images/add-user.svg) no-repeat center;
  background-size: 25px;
}

.schedule {
  background: url(images/calendar.svg) no-repeat center;
  background-size: 20px;
}

.more-options {
  background: url(images/more-options.svg) no-repeat center;
  background-size: 20px;
}

.home {
  background: url(images/home.svg) no-repeat 10% 40%;
}

.jobs {
  background: url(images/jobs.svg) no-repeat  10% 40%;
}

.resumes {
  background: url(images/resume.svg) no-repeat 10% 40%;
}

.tasks {
  background: url(images/tasks.svg) no-repeat 10% 40%;
}

.calendar {
  background: url(images/menu-calendar.svg) no-repeat 10% 40%;
}

.users {
  background: url(images/users.svg) no-repeat 10% 40%;
}

.locations {
  background: url(images/locations.svg) no-repeat 10% 40%;
}

.workflows {
  background: url(images/workflows.svg) no-repeat 10% 40%;
}

.job-boards {
  background: url(images/job-boards.svg) no-repeat 10% 40%;
}

.social {
  background: url(images/social.svg) no-repeat 10% 40%;
}

.location {
  background: url(images/location.svg) no-repeat 0% 40%, url(images/grey-dot.svg) no-repeat 52% 50%;
  background-size: 15px, 5px;
}

.open {
  background: url(images/circle.svg) no-repeat 20% 50%;
  background-size: 10px;
}

.bookmark {
  background: url(images/bookmark.svg) no-repeat center;
  background-size: 15px;
  cursor: pointer;
}

.edit {
  background: url(images/edit.svg) no-repeat center;
  background-size: 15px;
  cursor: pointer;
}

.trash {
  background: url(images/trash.svg) no-repeat center;
  background-size: 15px;
  cursor: pointer;
}

.minimize {
  background: url(images/up-arrow.svg) no-repeat center;
  background-size: 15px;
}

.edit-job {
  background: url(images/white-edit.svg) no-repeat 20% 45%;
  background-size: 10px;
}

.facebook {
  background: url(images/facebook-logo.svg) no-repeat 20% 50%;
  background-size: 15px;
}

.twitter {
  background: url(images/twitter-logo.svg) no-repeat 20% 50%;
  background-size: 15px;
}

.linkedin {
  background: url(images/linkedin-logo.svg) no-repeat 20% 50%;
  background-size: 15px;
}

.link {
  background: url(images/earth.svg) no-repeat 0 49%;
  background-size: 20px;
}

.script {
  background: url(images/script.svg) no-repeat 0 49%;
  background-size: 20px;
}

.email {
  background: url(images/email.svg) no-repeat 0 49%;
  background-size: 20px;
}

/* Hovers */

.top-nav a:hover {
  background-color: #139FF5;
}

.main a:hover {
  background-color: #30394A;
  background-size: 20px;
  color: white;
}

.admin a:hover {
  background-color: #30394A;
  background-size: 20px;
  color: white;
}

.location a:hover {
  text-decoration: underline;
}

.menu:hover {
  background-image: url(images/white-left-arrow.svg), url(images/white-menu.svg);
}

.add-user:hover {
  background-image: url(images/white-add-user.svg);
}

.schedule:hover {
  background-image: url(images/white-calendar.svg)
}

.more-options:hover {
  background-image: url(images/white-more-options.svg)
}

.home:hover {
  background: #139FF5 url(images/white-home.svg) no-repeat 10% 40%;
}

.jobs:hover {
  background: url(images/white-jobs.svg) no-repeat 10% 40%;
}

.resumes:hover {
  background: url(images/white-resume.svg) no-repeat 10% 40%;
}

.tasks:hover {
  background: url(images/white-tasks.svg) no-repeat 10% 40%;
}

.calendar:hover {
  background: url(images/white-menu-calendar.svg) no-repeat 10% 40%;
}

.users:hover {
  background: url(images/white-users.svg) no-repeat 10% 40%;
}

.locations:hover {
  background: url(images/white-locations.svg) no-repeat 10% 40%;
}

.workflows:hover {
  background: url(images/white-workflows.svg) no-repeat 10% 40%;
}

.job-boards:hover {
  background: url(images/white-job-boards.svg) no-repeat 10% 40%;
}

.social:hover {
  background: url(images/white-social.svg) no-repeat 10% 40%;
}

.job-title-options .open:hover {
  background-color: #DDD;
  color: white;
}

.bookmark:hover {
  background: url(images/white-bookmark.svg) no-repeat center;
  background-color: #DDD;
  background-size: 15px;
}

.edit:hover {
  background: url(images/white-edit.svg) no-repeat center;
  background-color: #DDD;
  background-size: 15px;
}

.trash:hover {
  background: url(images/white-trash.svg) no-repeat center;
  background-color: #DDD;
  background-size: 15px;
}

.sub-nav a:hover {
  border-bottom: 3px solid #139FF5;
  color: #000;
}

.graph-section button:hover {
  background-color: #DDD;
  color: #FFF;
}

.divider button:hover {
  background: url(images/white-up-arrow.svg) no-repeat center;
  background-color: #DDD;
  background-size: 15px;
}

button.edit-job:hover {
  background-color: #8A9AB1
}

button.facebook:hover {
  background-color: #6989C8;
}

button.twitter:hover {
  background-color: #37C8F0;
}

button.linkedin:hover {
  background-color: #1F94BA;
}

.copy-btn:hover {
  background-color: #207C81;
}

/* Media Queries */

@media (max-width: 1250px) {

  aside {
    display: none;
  }

  .hidden {
    display: none;
  }

  .more {
    display: inherit;
  }
}

@media (max-width: 1050px) {

  h1 {
    font-size: 30px;
  }

  .applicants-graph div {
    padding-top: 200px;
  }

  .interviews-graph div {
    padding-top: 200px;
  }

  .forwards-graph div {
    padding-top: 200px;
  }

  .applicants-graph {
    border-width: 20px;
    height: 100px;
    width: 100px;
  }

  .interviews-graph {
    border-width: 20px;
    height: 100px;
    width: 100px;
  }

  .forwards-graph {
    border-width: 20px;
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 950px) {

  h1 {
    justify-content: center;
  }

  div.second-main {
    background-color: #ECF2F6;
    height: 200vh;
    flex-wrap: wrap;
  }

  section.job-description {
    height: 50%;
    width: 100%
  }

  section.social-section {
    height: 50%;
    justify-content: center;
    width: 100%;
  }

  .job-title-options article {
    text-align: center;
    width: 100%;
  }

  .sub-nav a {
    justify-content: center;
    width: 25%;
  }

  .job-title-options {
    flex-direction: column;
    width: 100%;
  }

  .job-title-options .buttons {
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hidden2 {
    display: none;
  }
}


@media (max-width: 750px) {

  .graph-section {
    flex-wrap: wrap;
    height: 700px;
  }

  .circle-graphs {
    height: 50%;
    width: 100%;
  }

  .bar-graph {
    height: 50%;
    width: 100%;
  }
}

@media (max-width: 600px) {

  th {
    font-size: 12px;
  }

  td {
    font-size: 12px;
  }

  button.edit-job {
    height: 20px;
    font-size: 10px;
    width: 50px;
  }

  .sub-nav a {
    font-size: 12px;
  }

  .social-widget h3  {
    font-size: 20px;
  }

  .social-widget p {
    font-size: 12px;
  }

  .graph-section {
    height: 50vh;
  }

  .applicants-graph {
    border-width: 10px;
    height: 50px;
    margin: 0 20px;
    width: 50px;
  }

  .interviews-graph {
    border-width: 10px;
    height: 50px;
    margin: 0 20px;
    width: 50px;
  }

  .forwards-graph {
    border-width: 10px;
    height: 50px;
    margin: 0 20px;
    width: 50px;
  }

  .applicants-graph div {
    font-size: .5em;
    padding-top: 100px;
  }

  .interviews-graph div {
    font-size: .5em;
    padding-top: 100px;
  }

  .forwards-graph div {
    font-size: .5em;
    padding-top: 100px;
  }

  button.totals {
    margin-top: 50px;
    font-size: 12px;
    height: 30px;
  }

  button.applicants-day {
    font-size: 12px;
    height: 30px;
    margin-top: 0;
  }

  .widget-input {
    height: 25px;
  }

  .copy-btn {
    height: 25px;
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 20px;
  }

  .location p, .location a {
    font-size: 12px;
  }

  .sub-nav {
    display: none;
  }

  .buttons {
    height: 50%;
  }

  .buttons button {
    height: 30px;
    width: 30px;
  }
}
